---
layout: default
title: Home
---
<div class="header">
    <div class="logo">
        <img src="/assets/images/background.jpg" alt="defaultImg" class="logoImg">
        <h2 class="logoName"><a href="/">beming-dev</a></h2>
    </div>
    {%include navigation.html%}
</div>
<div class="container">
    {%for post in site.posts%}
        <div class="post">
            <div class="date">{{post.date | date:"%y/%m/%d"}}</div>
            <img class="postImg" src="/assets/images/background.jpg" alt="">
            <a href="{{post.url}}" class="postTitle">{{post.title}}</a>
        </div>
    {%endfor%}
    <li></li>
</div>