.abouth2{
    font-weight: normal;
    font-size: 30px;
}

.about{
    width: 90%;
    max-width: var(--default-width);

    a{
        text-decoration: underline;
    }

    h1{
        font-weight: normal;
        font-size: 40px;
    }
    li{
        font-size: 20px;
    }

    .blogInfo{
        margin-top: 100px;
    }

    .blogInfoSpan{
        display: inline-block;
        width: 150px;
    }
}