html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    margin: 0 auto;
    width: 800px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;

    .logo{
        display: flex;
        .logoImg{
            width: 100px;
            height: 100px;
        }
        .logoName{
            margin: 0;
            font-size: 30px;
            align-self: center;
            margin-left: 5px;
        }   
    }

    .nav{
        margin-right: 15px;

        a{
            margin-left: 5px;
        }
    }
}