html{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    margin: 0 auto;
    width: 800px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 15px;

    .logo{
        display: flex;
        .logoImg{
            width: 100px;
            height: 100px;
        }
        .logoName{
            margin: 0;
            font-size: 30px;
            align-self: center;
            margin-left: 5px;
        }   
    }

    .nav{
        margin-right: 15px;

        a{
            margin-left: 5px;
        }
    }
}

.container{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin-top: 50px;
    justify-content: center;
    // border: 1px solid black;
    .post{
        width: 300px;
        height: 350px;
        margin: 30px 50px;
        display: flex;
        flex-direction: column;

        .date{
            justify-self: flex-end;
            align-self: flex-end;
            font-size: 14px;
            margin-right: 3px;
        }
        .postImg{
            width: 300px;
            height: 280px;
        }
        .postTitle{
            font-size: 16px;
            margin-left: 3px;
            margin-right: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

.footer{
    width: 100%;
    height: 100px;
    background: #dddddd;
    margin-top: 200px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.categoryBox{
    width: 200px;
    position: fixed;
    top: 40%;
    left: 50px;
}

@media (max-width:1400px){
    li{
        list-style: none;
    }
    .categoryBox{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        top: 0;
        left: 0;
        padding: 0;

        .categoryItem{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}