html{
    width: 100%;
    // height: 100%;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

#c{
    position: absolute;
    top: 0;
    width: 90%;
    max-width: 900px;
    height: inherit;
    z-index: -1;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 90%;
    height: 190px;
    max-width: var(--default-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 30px 10px;

    .logo{
        display: flex;
        .logoImg{
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        .logoName{
            margin: 0;
            font-size: 30px;
            align-self: center;
            margin-left: 5px;
        }   
    }

    .nav{
        margin-right: 15px;

        a{
            margin-left: 5px;
        }
    }
}

.container{
    width: 100%;
    max-width: var(--default-width);
    min-height: 200px;
    display: flex;
    flex-flow: wrap;
    margin-top: 50px;
    justify-content: center;
    // border: 1px solid black;
    .post{
        width: 300px;
        height: 360px;
        margin: 30px 40px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .date{
            justify-self: flex-end;
            align-self: flex-end;
            font-size: 14px;
            margin-right: 3px;
        }
        .postImg{
            width: 300px;
            height: 280px;
            border-top: 1px solid skyblue;
            border-bottom: 1px solid skyblue;
        }
        .postTitle{
            font-size: 18px;
            margin-left: 3px;
            margin-right: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            font-weight: bold;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

.footer{
    width: 100%;
    height: 100px;
    background: #666666;
    margin-top: 250px;
    border-top: 1px solid #B2B2B2;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 50px;
        margin-right: 20px;
    }
    span{
        color: white;
        font-size: 14px;
    }
}

.categoryBox{
    width: 200px;
    position: fixed;
    top: 40%;
    left: 50px;
}

@media (max-width:1400px){
    .categoryItem{
        list-style: none;
    }
    .categoryBox{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        top: 0;
        left: 0;
        padding: 0;

        .categoryItem{
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media(max-width:500px){
    .logoImg{
        display: none;
    }
}   