.postBox {
  width: 90%;
  max-width: var(--default-width);
  // padding: 0px 10px;

  p {
    font-size: 1.2rem;
  }

  a {
    color: skyblue;
  }
  img {
    width: 100%;
    max-width: var(--default-width);
  }
  .title {
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
  }
  .date {
    text-align: end;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
  }
  .postImg {
    width: 100%;
    max-width: 750px;
  }
}

.tags {
  width: 90%;
  max-width: var(--default-width);
  margin-top: 50px;

  .tagText {
    font-size: 20px;
    width: 100%;
    max-width: var(--default-width);
    border-bottom: 1px solid grey;
    font-weight: bold;
    padding-bottom: 2px;
  }
  .tag {
    color: grey;
    font-weight: bold;
  }
}

.postChanger {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: var(--default-width);

  .prev {
    margin-right: 10px;
  }
  .next {
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  .postBox {
    p {
      font-size: 0.9rem;
    }

    .title {
      font-size: 35px;
    }
  }
}
