.postBox{
    width: 90%;
    max-width: 800px;
    // padding: 0px 10px;

    a{
        color: skyblue;
    }
    img{
        width: 80%;
        max-width: 800px;
    }
    .title{
        text-align: center;
        font-size: 50px;
        margin-top: 70px;
    }
    .date{
        text-align: end;
        padding-bottom: 20px;
        border-bottom: 1px solid #dddddd;
    }
    .postImg{
        width: 100%;
        max-width: 750px;
    }
}

.tags{
    width: 90%;
    max-width: 800px;
    margin-top: 50px;
    border: 1px solid black;
    background-color: bisque;

    .tag{
        border:1px solid black;
        border-radius: 5px;
    }
}

#disqus_thread{
    width: 90%;
    max-width: 800px;
    margin-top: 200px;
}