.postBox{
    width: 100%;
    max-width: 800px;
}

.postBox .title{
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

.postBox .date{
    text-align: end;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}