.postBox{
    width: 100%;
    max-width: 800px;
    // padding: 0px 10px;

    .title{
        text-align: center;
        font-size: 50px;
        margin-top: 70px;
    }
    .date{
        text-align: end;
        padding-bottom: 20px;
        border-bottom: 1px solid #dddddd;
    }
    .postImg{
        width: 100%;
        max-width: 750px;
    }
}

#disqus_thread{
    width: 90%;
    max-width: 800px;
    margin-top: 200px;
}